<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.10.15, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../public/assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="Web Generator Description">
    <title>회원 가입</title>
    <link rel="stylesheet" href="../public/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../public/assets/tether/tether.min.css">
    <link rel="stylesheet" href="../public/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="../public/assets/theme/css/style.css">
    <link rel="preload" as="style" href="../public/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="../public/assets/mobirise/css/mbr-additional.css" type="text/css">
</head>

<body>
    <section class="menu cid-rD0evCt0Hd" once="menu" id="menu2-d">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-5" href="/">CCMS</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="https://mobirise.co">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="https://mobirise.co">
                            About Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="engine"><a href="https://mobirise.info/o">portfolio web templates</a></section>
    <section class="section-table cid-signup" id="table1-r">
        <div class="container container-table">
            <basefont size=6>
                            <!--테이블 시작 -->
                            <table>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">구분</th>
                                    <td>
                                        <select name='occup' size='1' class=' form-control dark' style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:150px; height:18px; min-height: 1.5em;">
                                            <option value=''>선택하세요</option>
                                            <option value='30'>대학생</option>
                                            <option value='31'>대회주최자</option>
                                            <option value='32'>시상인증자</option>
                                            <option value='33'>기업</option>
                                        </select>
									</td>
                                </tr>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">이름</th>
                                    <td>
                                        <input type="text" class="form-control dark" name="mbname" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:150px;
                                              height:18px; min-height: 1.5em;">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">주민등록번호</th>
                                    <td>
                                        <input type="text" class="form-control dark" name="jumin_1" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:68px; height:18px; display: inline; min-height: 1.5em;"> -
                                        <input type="password" class="form-control dark" name="jumin_2" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:68px; height:18px; display: inline; min-height: 1.5em;">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">아이디</th>
                                    <td>
                                        <input type="text" class="form-control dark" name="mbid" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:150px; height:18px; display: inline; min-height: 1.5em;">
                                        <a href='#' style='cursor:pointer'></a> (영문/숫자 10~12자)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">비밀번호</th>
                                    <td>
                                        <input type="password" class="form-control dark" name="mbpw" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:150px; height:18px; display: inline; min-height: 1.5em;"> 영문/숫자포함 6자 이상
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head-item mbr-fonts-style display-7">비밀번호 확인</th>
                                    <td>
                                        <input type="password" class="form-control dark" name="mbpw_re" required="" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(152, 152, 152); color: rgb(152, 152, 152); width:150px; height:18px; display: inline; min-height: 1.5em;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <div id="member_button">
                                            <div class="navbar-buttons mbr-section-btn">
                                                <a class="btn btn-sm btn-primary-outline display-4" href="signin.html">회원 가입</a></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </basefont>
        </div>
    </section>
</body>

</html>
</body>

</html>